#container-boundingbox {
	background: none;
	width: auto;
	border: none;
	margin: 0;
	padding: 0px;
	min-height: 100%;
	height: 100%;
}

#container {
	background: none;
	width: auto;
	border: none;
	margin: 0;
	padding: 0px;
	min-height: 100%;
	height: 100%;
	display: block;
}

.main {
	width: auto;
	position: relative;
	border: none;
	margin: 0;
	padding: 0;
	min-height: 100%;
	display: block;
}

.minimal-frame {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 20%);
}

.minimal-body {
	background: white;
	max-width: 512px;
	margin: 0px auto 28px auto;
	padding: 62.12px 99px 48px;
	box-shadow: 0px 4px 24px rgb(0 0 0 / 10%);
	border-radius: 2px;
	text-align: left;
}

#tos-link {
	color: #ababab;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 11px;
	text-align: center;
	border-right: 1px solid #ababab;
	padding: 0px 15px;
}

#privacy-link {
	color: #ababab;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 11px;
	text-align: center;
	border-right: 1px solid #ababab;
	padding: 0px 15px;
}

.footer-entry {
	color: #ababab;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 11px;
	text-align: center;
	padding: 0px 15px;
}
