#user-nav {
	background-color: #1a1a1a;
	height: 100vh;
}

.user-nav-link {
	color: #a6a6a6;
	text-decoration: none;
}

.user-nav-li {
	height: 32px;
	width: 239px;
	position: sticky;
}

.active {
	background-color: #cccccc;
	color: #ffffff;
}
