* {
	box-sizing: border-box;
	margin: 0px;
	font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
}

.centered {
	max-width: 1220px;
	margin: 0px auto;
}

.no-bullet {
	list-style: none;
}

#value-prop-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
}

#title-h1 {
	font-size: 56px;
	line-height: 150%;
	padding-bottom: 10px;
}

#description-h5 {
	font-size: 24px;
	font-weight: 400;
	line-height: 150%;
	padding-bottom: 30px;
	font-family: "Soleil", Helvetica, Arial, sans-serif;
}

#cta-p {
	padding-bottom: 20px;
	font-family: "Soleil", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 21px;
}

.login-cta a {
	color: black;
	font-family: "Soleil_Bold", Helvetica, Arial, sans-serif;
}

.login-cta a:hover {
	color: #00A82D;
}

#hero-container {
	display: flex;
	justify-content: space-around;
}

#demo-img {
	width: 980px;
}

.carousel-container {
	width: 16%;
	min-width: 240px;
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 22px;
	color: #000;
}

.hero-carousel-text {
	padding-bottom: 20px;
}

.heading {
	padding-bottom: 10px;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 150%;
	font-weight: 700;
}

#main-container {
	display: flex;
}

#user-page {
	background-image: url("../public/images/home-background.jpg");
	background-size: 100% 90%;
	width: 100%;
	margin-top: -10%;
}

#user-heading {
	display: flex;
	justify-content: space-between;
	margin-top: 12%;
	margin-left: 1%;
	margin-right: 1%;
	height: 40%;
}

#greeting, #clock {
	color: white;
	font-size: 16px;
	font-weight: 700;
	text-shadow: 1px 1px 2px grey;
}

#user-widgets {
	position: sticky;
	background-color: #f2f2f2;
	width: 100%;
	height: 43.3%;
}

#notes-list {
	margin-left: 25px;
}

#note-item-container {
	display: flex;
}

.note-item {
	border: 1px solid grey;
}

#notes-nav {
	background-color: #f8f8f8;
	width: 380px;
}

.note-item {
	list-style: none;
	height: 120px;
	width: 100%;
	border: 2px solid #cccccc;
	background-color: #ffffff;
	margin: 2px 0px;
}

#editor-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#title-input {
	width: 100%;
	border: none;
}

#content-textarea {
	border: none;
}
